.center-container {
  display: inline-block;
  text-align: center;
  color: white;
}

header {
  background-color: #333;
  padding: 1rem 2rem;
  text-align: center;
}

header img {
  height: 60px;
  display: inline-block;
}